[ ARRIVAL ] Arrived for {{ ob.purpose }}; Real duration: {{ ob.duration | duration_to_bucket_text }};{%- if ob.late > 0 %}; Late: {{ ob.late | duration_to_bucket_text }}. We may need to adjust the schedule accordingly. {% elif ob.late == 0 %} No late. {% else %} Early: {{ (-ob.late) | duration_to_bucket_text }}. {% endif %}
