[ TRANSIT ] Transited by {{ ob.by_vehicle_route_id | get_transit_route_type }} {{ ob.by_vehicle_route_id | format_route_id }}; From: '{{ ob.departure_stop_name }}'; To: '{{ ob.arrival_stop_name }}'; Real duration: {{ ob.duration | duration_to_bucket_text }}.
