[ WAITING ] Waited at '{{ ob.stop_name }}' for the {{ ob.by_vehicle_route_id | get_transit_route_type }} {{ ob.by_vehicle_route_id | format_route_id }}; Waiting time: {{ ob.duration | duration_to_bucket_text }}.
